body {
    background: #f2f2f2
}

.section-three .inner-title .inner-type span {
    color: #000f8f;
    font-weight: 600;
}

.section-three .inner-title {
    margin-top: 20px;
}

.section-three .main .title {
    margin: -10px 0px 20px 10px;
}

.list-image img {
    height: 80px;
    margin: 20px 0px 40px;
    border-radius: 5px;
}

.section-three .inner-image img {
    width: 400px;
    height: 400px;
    margin: 20px 50px 0;
    border-radius: 5px;
}

.tt button {
    border: solid 1px;
    border-radius: 8px;
    width: 30%;
    margin: 5px 5px;
    height: 50px;
    font-size: 16px;
    justify-content: center;
    background-color: #fff;
}

.input-num {
    display: flex;
    background-color: #fff;
    margin: 0;
    width: auto;
    float: left;
    border: 1px solid #000f8f;
    border-radius: 5px;
    padding: 2px;
}

.input-num button {
    font-size: 20px;
    width: 35px;
    background-color: #000f8f;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    line-height: 0px;
}

.mau button {
    width: 25%;
}

.input-num input {
    width: 40px;
    height: 35px;
    border: 0;
}

.gh button {
    color: #fff;
    width: 100%;
    align-items: center;
    border-radius: 5px;
    background: #f3bd01;
    text-align: center;
    border: 0;
    margin: 10px 0 0;
}

.mua button {
    color: #fff;
    width: 100%;
    align-items: center;
    border-radius: 5px;
    background: #000f8f;
    text-align: center;
    margin: 10px 0 0;
    border: 0;
    height: 50px;
}

.lhe button {
    color: #fff;
    width: 100%;
    align-items: center;
    border-radius: 5px;
    background: #000f8f;
    text-align: center;
    margin: 10px 0 0;
    border: 0;
}

.center1,
.center2,
.center3,
.center4,
/* .inner-box {
    border: 1px solid #fffafb;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0 0px 2px 0 rgba(60, 64, 67, 0.1), 0 0px 6px 0px rgba(60, 64, 67, 0.25);

} */

.main {
    border-bottom: 1px outset;
}

.ttkt,
.uud {
    border: solid 1px #f3bd01;
    margin: 20px 0;
    border-radius: 5px;
}

.mtsp {
    margin: 10px 0;
    border-radius: 5px;
}

.ttkt .title-tt,
.uud h5,
.mtsp h5 {
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    background-color: #f3bd01;
    font-weight: 500;
    color: #fff;
    height: 30px;
    align-items: center;
}

.table-tt table,
.uud p,
.mtsp p {
    max-width: 100%;
    font-size: 13px;
    line-height: 22px;
    margin: 10px 0 20px 20px;
}

.center3 .mtsp .tdmt {
    font-weight: 700;
    font-size: 18px;
}

.center1 .image {
    position: sticky;
    top: 10px;
}

.center4 .inner-image img {
    width: 120px;
    height: 120px;
}

.center4 .inner-grap.inner-box img {
    margin: 10px;
}

.inner-box {
    margin: 10px;
}

 .button-next .prev {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 20px !important;
    border-radius: 0 50% 50% 0;
    border: none ;
} 
.button-next .next {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px !important;
    border-radius: 50% 0 0 50%;
    border: none ;
}

.button-next button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button-next button:hover {
    background: #ababab;
    color: #fff;
}